
.oxi-tabs-ultimate-template-1 .oxi-tabs-ultimate-header .oxi-tabs-header-li{
    border-color: #fff;
}
.oxi-tabs-ultimate-template-1 .oxi-tabs-header-li:last-of-type{
    border-right: none !important;
}

@media only screen and (max-width: 993px) {
    .oxi-tabs-ultimate-template-1 .oxi-tabs-header-li{
       border-right: none !important;
    }
}